@model LoginRequest
<html>
<head>
    <link href="~/twitter-bootstrap/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/twitter-bootstrap/css/bootstrap.min.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/twitter-bootstrap/css/bootstrap.rtl.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/twitter-bootstrap/css/bootstrap.rtl.min.css" rel="stylesheet" asp-append-version="true" />

</head>
<body>
<form action="~/Account/Login" class="row g-3" method="post">
    <div class="text-center">
        <div class="text-center">
            <h5>Personel Yönetim sistemi</h5>
            <p class="lead">
                <i>
                        Giriş ekranı
                </i>
            </p>
        </div>
    </div>

    <div class="col-12">
        <label for="username" class="form-label">İsminiz</label>
        <input type="text" class="form-control"  placeholder="" asp-for="UserName">

    </div>

    <div class="col-12">
        <label for="password" class="form-label">Şifre</label>
        <input type="password" class="form-control" asp-for="Password">
    </div>
    <div class="form-check">
        <input class="form-check-input" type="checkbox" asp-for="RememberMe">
        <label class="form-check-label" for="RememberMe">
            Beni Hatırla
        </label>
    </div>
    <div asp-validation-summary="All" class="text-danger lead">

    </div>



    <div class="col-12">
        <button type="submit" class="btn btn-primary w-100 mt-3">Giriş yap</button>
        <a href="#" class="btn btn-primary btn-info w-100 mt-3">Kayıt ol</a>

    </div>
</form>
</body>
</html>
